<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Login page"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <h1>Spectacle Squad</h1>
    <% if (!auth) { %>
        <p1><a href = "login">Login</a> or <a href ="signup">Create Account</a></p1>
    <% } else { %>
        <p>
            Logged in as <%= user %>
        </p>

        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    <% } %>
</body>
</html>