<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Login page"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <% if (!auth) { %>
        <p>
            Not logged in.
        </p>
    <% } else { %>
        <p>
            Hello, <%= user %>!

            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </p>
    <% } %>
</body>
</html>